body {
    font-family:Arial, Helvetica, sans-serif
}

main {
    display: flex;
    justify-content: center;
}

.section-1 {
    width: 45%;
    margin-right: 20px;
}

.section-2 {
    width: 50%;
}

section:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    position: absolute;
    left: 25%;
    background-color: black;
    border-radius: 10px;
}

.img-login {
    width: 35%;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    background-color: black;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 5%;
    padding: 20px;

    border: 1px solid;
    border-style: solid;
    border-color: #f0f0f0;
    border-width: 2px;
}

.instagram-logo {
    margin-bottom: 25px;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 70%;

    margin-bottom: 20px;
}

.form-input input {
    height: 40px;
    margin-bottom: 10px;
}

.input-form {
    border: 0.5px solid;
    width: 300px;
    border-color: #f0f0f0;
    border-width: 2px;
}

.input-form::placeholder {
    padding-left: 15px;
}

.btn{
    background-color: #0095f6;
    border: 0px solid transparent;
    margin-top: 7px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    color: white;
}

.atau{
    margin-top: -10px;
    margin-left: 30px;
    color: gray;
}

.line{
    display: flex;
    background-color: gray;
    height: 1px;
    width: 121px;
    margin-right: 140px;
    margin-top: -10px;
}

.or{
    display: flex;
    background-color: gray;
    height: 1px;
    width: 130px;
    margin-top: 20px;
    margin-left: 200px;
}

.link-forget{
    color: gray;
    text-decoration: none;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 35%;
}

.separator {
    margin-top: 25px;
}

.link-facebook {
    display: flex;
    align-items: center;
    color: #385185;
    font-weight: bolder;
    text-decoration: none;
}

.icon-fb {
    width: 25px;
    padding-right: 10px;
}

#medicine{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 400px;
    padding: 10px;
    height: px;

    border: 1px solid;

    margin: 10px 0;
    border-color: #f0f0f0;
    border-width: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 85%;
}

article {
    border: 1px solid;
}

.download-app {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-collapse: collapse;
    border: none;
}

.download-app div {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.icon-login {
    width: 30%;
    text-align: center;
}

.footer{
    display: flex;
    flex-direction: row;
    color: gray;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: center;
    height: 90%;
    max-width: 1000px;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80%;
    padding: 2%;
}